# Credit Card Statement Passwords (Replace with your actual passwords)
SBI_CASHBACK_PASSWORD="YOUR_SBI_PASSWORD"
AIRTEL_AXIS_PASSWORD="YOUR_AIRTEL_PASSWORD"

# Gemini API Configurations
GEMINI_API_KEY="YOUR_GEMINI_API_KEY"

# Email SMTP Configurations (For sending notifications)
SENDER_EMAIL="your-email@gmail.com"
SENDER_PASSWORD="your-16-char-gmail-app-password"
RECEIVER_EMAIL="recipient-email@gmail.com"
